p{
      color: palevioletred;
      font-size: 18;
        
           
}

#p1{
    
     background-color: violet; 


}

#p2{

     background: yellow;
}

.pb{
    color: white;
    background-color: black;
}
a:hover{
    background-color: blueviolet;
}